extends /layout

block content
    h1 Docusign download file: 
    p

    table(style="width:100%" id="tb_envelopes")
        tr
            th Status
            th Documents
            th Recipients
            th Attachments
            th Envelopes
        
        each envelope in files
            tr 
                th #{envelope.status }
                th #{envelope.documentsUri }
                th #{envelope.recipientsUri }
                th #{envelope.attachmentsUri }
                th #{envelope.envelopeUri }
    
    table(style="width:100%" id="tb_envelopes")
        tr
            th DocumentId
            th Name
            th uri
        
        each document in documents
            tr 
                th #{document.documentId }
                th #{document.name }
                th 
                    - var redirectdoc_url = 'document?access_token=' + access_token + 'subpath=' + encodeURIComponent(document.uri);
                    a(href=redirectdoc_url) Download 
            
        